<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>   
</head>
<body>
    <div class="menu">
        <div class="menu-inner">
                {% for route in routes %}
                {% if route['show_in_menu'] %}
                    <a href="{{ url_for(route['endpoint']) }}">{{ route['title'] }}</a>&nbsp;|&nbsp;
                {% endif %}
            {% endfor %}
            <span id="theme-toggle" class="dark-mode"></span>
            <span id="version">Version: {{ version }}</span>
        </div>
    </div>
    <div class="container">
        <h1>About</h1>
        <p>This is the about page.</p>
        <h2>Available Features</h2>
        <div>
            {% for route in routes %}
                <div class="description-item">
                    <div class="description-title">{{ route['title'] }}</div>
                    <div class="description-text">{{ route['description'] | safe }}</div>
                </div>
            {% endfor %}
        </div>       
    </div>
</body>
</html>
