<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>   
</head>
<body>
    <div class="menu">
        {% for route in routes %}
            {% if route['show_in_menu'] %}
                <a href="{{ url_for(route['endpoint']) }}">{{ route['title'] }}</a>&nbsp;|&nbsp;
            {% endif %}
        {% endfor %}
        <span id="theme-toggle" class="dark-mode"><input type="submit" class="dark-mode" value="Theme">
            <script src="{{ url_for('static', filename='dark_mode.js') }}"></script>    
        </span>
    </div>
    <div class="container">
        <h1>Randomazers!</h1>
        <p>This is the home page.</p>
</div></body>
</html>
