<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coin Flip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>   
</head>
<body>
    <div class="menu">
        <div class="menu-inner">
                {% for route in routes %}
                {% if route['show_in_menu'] %}
                    <a href="{{ url_for(route['endpoint']) }}">{{ route['title'] }}</a>&nbsp;|&nbsp;
                {% endif %}
            {% endfor %}
            <span id="theme-toggle" class="dark-mode">
            </span>
            <span id="version">Version: {{ version }}</span>
        </div>
    </div>
    <div class="container">
        <h1>Coin Flip</h1>
        <form method="post">
            <div class="label-input">
                <label for="num_flips">Number of Flips:</label>
                <input type="text" name="num_flips" id="num_flips" value="1000" required min="1" max="9999" style="width: 30px;">
            </div>
            <br>
            <br>
            <br>
            <div class="container">
                <input type="submit" value="Start">
            </div>
        </form>
        {% if show_results %}
            <h2>Results:</h2>
            <div class="results-container">
            <p>Heads: {{ heads }}%</p>
            <p>Tails: {{ tails }}%</p>
            </div>
            <h2>{% if heads > tails %} Heads wins! {% elif tails > heads %} Tails wins! {% else %} It's a tie! {% endif %}</h2>
        {% endif %}
    </div>
</body>
</html>
