<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>   
</head>
<body>
    <div class="menu">
        {% for route in routes %}
            {% if route['show_in_menu'] %}
                <a href="{{ url_for(route['endpoint']) }}">{{ route['title'] }}</a>&nbsp;|&nbsp;
            {% endif %}
        {% endfor %}
        <span id="theme-toggle" class="dark-mode"><input type="submit" class="dark-mode" value="Theme">
            <script src="{{ url_for('static', filename='dark_mode.js') }}"></script>    
        </span>
    </div>
    <div class="container">
        <h1>Random Number Analysis</h1>
        <form id="generator-form" method="post">
            <label for="first_number">First Number:</label>
            <input type="number" id="first_number" name="first_number" value="{{ default_first_number }}"><br><br>
            
            <label for="last_number">Last Number:</label>
            <input type="number" id="last_number" name="last_number" value="{{ default_last_number }}"><br><br>
            
            <label for="numbers_to_select">Numbers to Select:</label>
            <input type="number" id="numbers_to_select" name="numbers_to_select" value="{{ default_numbers_to_select }}"><br><br>
            
            <label for="simulation_runs">Simulation Runs:</label>
            <input type="number" id="simulation_runs" name="simulation_runs" value="{{ default_simulation_runs }}">
            <br>
            <br>
            <br>
            <button type="submit">Start</button>
        </form>
        {% if analysis %}
            <h2>Simulation Results:</h2>
            <div class="results-container">
                <span class="result" data-name="{{ analysis.top.tolist() }}">Copy most frequently rolled numbers: {{ analysis.top.tolist() }}</span>
                <button class="copy-button initial">Copy</button> 
                <script src="{{ url_for('static', filename='script_copy.js') }}"></script>
                <ul>
                    {% for number in analysis.top %}
                        <li>Number {{ number }}: {{ analysis.frequency[number]|round(8) }}%</li>
                    {% endfor %}
                </ul>
                <h3>Numbers that did not roll:</h3>
                {% if analysis.missing_numbers %}
                    <ul>
                        {% for number in analysis.missing_numbers %}
                            <li>{{ number }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>All numbers rolled at least once.</p>
                {% endif %}
            {% else %}
                <p>No analysis data available.</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
