body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    height: 100vh;
    margin: 0;
    padding-top: 5vh; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#name-generator-form {
    margin: 0;
}

#results {
    text-align: left;
    white-space: pre-wrap;
    max-width: 400px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

pre {
    font-family: Arial, sans-serif;
    white-space: nowrap; /* Prevent line breaks */
}

.name-container {
    display: flex;
    align-items: center;
}

.name {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style-type: none; /* Remove bullets */
}

.copy-button {
    background-color: #ccc; /* Серый цвет по умолчанию */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #45a049;
}

.copy-button.copied {
    background-color: #4CAF50; /* Новый цвет после копирования */
}

/* Стилизация класса menu */
.menu {
    background-color: #f0f0f0;  /* Цвет фона меню */
    padding: 10px 0;            /* Отступы внутри меню */
    text-align: center;         /* Выравнивание текста по центру */
    position: fixed;            /* Фиксированное положение */
    top: 0;                     /* Прижать к верху страницы */
    width: 100%;                /* Ширина меню на всю ширину страницы */
    z-index: 1000;              /* Уровень перекрытия, чтобы меню всегда было сверху */
}

.menu a {
    color: #000;                /* Цвет ссылок */
    margin: 0 10px;             /* Отступы между ссылками */
    text-decoration: none;      /* Убрать подчеркивание у ссылок */
    font-size: 16px;            /* Размер шрифта */
}

.menu a:hover {
    color: #555;                /* Цвет ссылок при наведении */
}
.description {
    white-space: pre-wrap;
}
.description-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.description-title {
    font-weight: bold;
}

.description-text {
    margin-top: 5px;
    line-height: 1.5;
}
