body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding-top: 5vh; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #5aaf5d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #4db350;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

form {
    text-align: left;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 3vh; 
}

pre {
    font-family: Arial, sans-serif;
    white-space: nowrap;
}

.copy-button {
    background-color: #ccc;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #45a049;
}

.copy-button.copied {
    background-color: #4CAF50; 
}

.menu {
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0; /* Растягиваем на всю ширину слева */
    right: 0; /* Растягиваем на всю ширину справа */
    z-index: 1000;
    display: flex; /* Используйте flexbox для выравнивания элементов */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: center; /* Центрирование элементов */
    align-items: center;
}

.menu a {
    color: #000;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px; /* Добавление небольшого отступа между ссылками */
    white-space: nowrap; /* Предотвращает перенос текста ссылок на новую строку */
    padding: 5px 10px; /* Добавлен отступ внутри ссылок */
}

.menu-inner {
    margin-top: 10px;
    margin: 0 50px; /* Отступ слева и справа внутри меню */
    max-width: calc(100% - 150px); /* Максимальная ширина с учетом отступов */
}

.menu a:hover {
    color: #555;
}

.description {
    white-space: pre-wrap;
}
.description-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #555;
}

.description-title {
    font-weight: bold;
    color: #000;
}

.description-text {
    margin-top: 5px;
    line-height: 1.5;
    color: #555;
}

.label-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

label {
    flex-grow: 1;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    min-width: 30px;
    width: calc(1ch * 10); 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #5aaf5d;     
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
}

input[type="submit"]:hover {
    background-color: #4db350;
}

select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 0px;
}

select::-ms-expand {
    display: none;
}

select:hover,
select:focus {
    border-color: #007bff;
    outline: none;
}
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
    color: #fff;
}

.dark-mode a {
    color: #4da6ff;
}

.dark-mode a:hover {
    color: #82c0ff;
}

.dark-mode button {
    background-color: #555;
    color: #fff;
}

.dark-mode button:hover {
    background-color: #777;
}

.dark-mode form {
    background-color: #444;
    border-color: #666;
}

.dark-mode input[type="text"],
.dark-mode input[type="number"],
.dark-mode input[type="email"],
.dark-mode select {
    background-color: #555;
    color: #fff;
    border-color: #777;
}

.dark-mode input[type="text"]:focus,
.dark-mode input[type="number"]:focus,
.dark-mode input[type="email"]:focus,
.dark-mode select:focus {
    border-color: #4da6ff;
}
.results-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.dark-mode .results-container {
    background-color: #444;
    border-color: #666;
}

.dark-mode .menu {
    background-color: #bdcfbe;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0; /* Растягиваем на всю ширину слева */
    right: 0; /* Растягиваем на всю ширину справа */
    z-index: 1000;
    display: flex; /* Используйте flexbox для выравнивания элементов */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: center; /* Центрирование элементов */
    align-items: center;
}

.dark-mode .menu a {
    color: #0e5f26;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px; /* Добавление небольшого отступа между ссылками */
    white-space: nowrap; /* Предотвращает перенос текста ссылок на новую строку */
    padding: 5px 10px; /* Добавлен отступ внутри ссылок */
}

.dark-mode .menu a:hover {
    color: #555;
}

#theme-toggle {
    position: fixed;
    top: 8px;
    left: 10px;
    padding: 10px 15px;
    background-color: #5aaf5d;
    color: #fff;
    border: none;
    border-radius: 20px; /* Измененный радиус скругления */
    cursor: pointer;
    font-size: 0.9em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Добавленная тень */
}

/* Стиль для текста внутри переключателя */
#theme-toggle span {
    margin-left: 5px;
    vertical-align: middle;
}

#version {
    position: fixed;
    top: 6px;
    right: 10px;
    padding: 5px 10px;
    background-color: #a5bda4;
    color: #fff;
    border: none;
    border-radius: 10px; /* Скругленные углы */
    text-align: center;
    font-size: 0.8em;
    z-index: 1000; /* Поверх всех элементов */
}
